@import "./../utlits/mixins";

header {
  background-color: white;
  width: 100%;
  height: 80px;
  @include flex-position();
  position: fixed;
}


.header-inf {
  a {
    text-decoration: none;
    color: #757575;
    font-weight: medium;
  }

  #hhiemail {
    padding-right: 20%;
  }
  #hhiphone {
   width: 300px;
  }
}

.header-links {
  display: flex;
  padding-left: 20%;

  a {
    text-decoration: none;
    color: #212121;
    font-weight: medium;
  }

  div {
    padding-right: 25%;
  }
}

.h1half,
.h2half {
  display: flex;
}

.h1half {
  padding-right: 30%;
}

#hlphover,
#hlchover {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #2196f3;
  opacity: 0%;
}

#hlshover, #hlshover2{
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #2196f3;
  transition-duration: 1s;
}

.header-links {

  #hlstudio,
  #hlportfolio,
  #hlcontacts {

    #hlshover,
    #hlphover,
    #hlchover {
      transition-property: opacity;
      transition-duration: 1s;
    }
  }
}

.header-links {
  #hlportfolio:hover,
  #hlcontacts:hover {

    #hlphover,
    #hlchover {
      opacity: 100%;
    }
  }
}

.header-inf {
  a {
    transition-property: color;
    transition-duration: 1s;
  }
}

.header-inf {
  a:hover {
    color: #2196f3;
  }
}

#hlshover2, #hlchover {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #2196f3;
  opacity: 0%;
}

#hlphover2 {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #2196f3;
}

#hlstudio:hover {
  #hlshover2 {
    opacity: 100%;
  }
}